<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="row">
        <div class="col-4">
          <%= image_tag @user.avatar.url, class: "profile-pic" %>
        </div>
        <div class="col-8">
          <div>
            <h1 class="profile-username"><%= @user.username %></h1>
            <% if @user == current_user %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-secondary" %>
            <% end %>
          </div>
          <div>
            <%= @user.posts.count %> posts
            <%= @user.total_followers %> followers
            <%= @user.total_following %> following<br><br>
          </div>
          <p><%= @user.fullname %></p>
          <p><%= @user.bio %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <div class="row">
        <% @user.posts.each do |post| %>
          <div class="col-4">
            <div class="insta-post">
              <% post.avatars.each do |avatar| %>
                <%= link_to image_tag(avatar.url, class: "img img-fluid"), post_path(post) %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
