<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="row user-info">
        <div class="col-4">
          <%= profile_picture(@user, 80, 80, '') %>
        </div>
        <div class="col-8">
          <div>
            <h3 class="profile-username"><%= @user.username %></h3>
            <% if @user == current_user %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-secondary edit-profile-btn" %>
            <% elsif @following_ids.include? @user.id %>
              <%= form_tag unfollow_user_path, method: :post, class: "follow-form" do %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= submit_tag "Unfollow", class: 'btn btn-primary follow-btn' %>
              <% end %>
            <% else %>
              <%= form_tag follow_user_path, method: :post do %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= submit_tag "Follow", class: 'btn btn-info' %>
              <% end %>
            <% end %>
          </div>
          <div class="stats">
            <strong><%= @user.posts.count %></strong> posts
            <strong><%= @user.total_followers %></strong> followers
            <strong><%= @user.total_following %></strong> following<br><br>
          </div>
          <p><strong><%= @user.fullname %></strong></p>
          <p><%= @user.bio %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <div class="row">
        <% @user.posts.each do |post| %>
          <div class="col-4">
            <div class="insta-post">
              <%= link_to image_tag(post.avatar.url, class: "img img-fluid"), post_path(post) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
