<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag @user.avatar.url, class: "profile-pic" %>
    </div>
    <div class="col-8">
      <h1><%= @user.username %></h1>
      <div><%= @user.posts.count %> posts</div>
      <div><%= @user.total_followers %> followers</div>
      <div><%= @user.total_following %> following</div>
      <p><%= @user.fullname %></p>
      <p><%= @user.bio %></p>
    </div>
  </div>

  <div class="row">
    <% @user.posts.each do |post| %>
      <div class="col-4">
        <div class="insta-post">
          <% post.avatars.each do |avatar| %>
            <%= link_to image_tag(avatar.url, class: "img img-fluid"), post_path(post) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
