<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="post col-6 offset-3">
        <div class="post-header">
          <%= link_to image_tag(post.user.avatar.url, class: "img-circle"), profile_path(:user_id => post.user_id) %>
          <strong><%= link_to post.user.username, profile_path(:user_id => post.user_id), class: "text-dark text-decoration-none" %></strong>
        </div>
        <%= image_tag post.avatars.first.url %>
        <div class="post-responses">
          <i class="fas fa-heart fa-2x like-<%= post.id %> <%= 'liked' if post_liked_by_user?(post.id) %> like-btn" data-id="<%= post.id %>"></i>
          <%= link_to post_path(post.id) do %>
            <i class="far fa-comment fa-2x comment-btn"></i>
          <% end %>
        </div>
        <div class="post-footer">
          <p id="post-<%= post.id %>-likes"><%= post.total_likes %> likes</p>
          <strong><%= link_to post.user.username, profile_path(:user_id => post.user_id), class: "text-dark text-decoration-none" %></strong>
          <%= post.caption %>
          <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
        </div>
        <%= link_to "View all comments", post_path(post.id), class: "text-muted" %>
        <%= render "posts/comments", post: post, comments: Comment.includes(:user).where(post_id: post.id), feed: true %>
        <div class="post-comment">
          <%= form_for @comment do |f| %>
            <%= f.hidden_field :post_id, value: post.id %>
            <div class="input-group">
              <%= f.text_field :comment, placeholder: 'Add a comment...', class: "form-control" %>
              <div class="input-group-append"><%= f.submit "Post", class: "btn btn-success float-right" %></div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "See all users", users_path %>
