<div class="container">
  <div class="row">
    <div class="story col-6 offset-3">
      <% @users.each do |user| %>
        <% if ((@following_ids.include? user.id) && (user.stories.count > 0)) || (user == current_user) && (current_user.stories.count > 0) %>
          <%= link_to profile_picture(user, 60, 60, 'story-img-user'), story_path(:id => user.id) %>
        <% end %>
      <% end %>
      <%= link_to new_story_path do %>
          <i class="far fa-plus-square fa-2x nav-icon"></i>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-3">
      <% @posts.each do |post| %>
        <% if @following_ids.include? post.user_id %>
        <div class="post">
            <div class="post-header">
              <%= link_to profile_picture(post.user, 40, 40, ''), profile_path(:user_id => post.user_id) %>
              <strong><%= link_to post.user.username, profile_path(:user_id => post.user_id), class: "text-dark text-decoration-none username-post-header" %></strong>
            </div>
            <%= image_tag post.avatar.url, alt: 'post', class: 'post-image' %>
            <div class="post-responses">
              <i class="fas fa-heart fa-2x like-<%= post.id %> <%= 'liked' if post_liked_by_user?(post.id) %> like-btn" data-id="<%= post.id %>"></i>
              <%= link_to post_path(post.id) do %>
                <i class="far fa-comment fa-2x comment-btn"></i>
              <% end %>
            </div>
            <div class="post-footer">
              <p id="post-<%= post.id %>-likes"><%= post.total_likes %> likes</p>
              <strong><%= link_to post.user.username, profile_path(:user_id => post.user_id), class: "text-dark text-decoration-none" %></strong>
              <%= post.caption %>
              <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
            </div>
            <div class="post-comments">
              <%= link_to "View all comments", post_path(post.id), class: "text-muted" %>
              <%= render "posts/comments", post: post, comments: Comment.includes(:user).where(post_id: post.id), feed: true %>
            </div>
            <div class="post-comment">
              <%= form_with class: "comment-form", model: (@comment) do |f| %>
                <%= f.hidden_field :post_id, value: post.id %>
                <div class="input-group">
                  <%= f.text_field :comment, placeholder: 'Add a comment...', class: "form-control comment-area" %>
                  <div class="input-group-append"><%= f.submit "Post", class: "btn btn-success float-right comment-submit-btn" %></div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
