<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="row">
        <div class="col-4">
          <%= profile_picture(current_user, 150, 150) %>
        </div>
        <div class="col-8">
          <div>
            <h1 class="profile-username"><%= current_user.username %></h1>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-secondary" %>
          </div>
          <div>
            <%= current_user.posts.count %> posts
            <%= current_user.total_followers %> followers
            <%= current_user.total_following %> following<br><br>
          </div>
          <p><%= current_user.fullname %></p>
          <p><%= current_user.bio %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-4">
            <div class="insta-post">
              <% if post.user == current_user %>
                <% post.avatars.each do |avatar| %>
                  <%= link_to image_tag(avatar.url, class: "img img-fluid"), post_path(post) %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
