<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
    <h2>New Post</h2>
      <%= form_with(model: @post, local: true) do |form| %>
        <% if @post.errors.any? %>
          <% @post.errors.full_messages.each do |message| %>
            <li class="alert-msg"><%= message %></li>
          <% end %>
          </ul>
        <% end %>

        <div class="avatar-preview">
          <img class="show-image">
        </div>

        <div class="form-group">
          <%= form.label :avatar %>
          <%= form.file_field :avatar, class: "form-control file" %>
        </div>

        <div class="form-group">
          <%= form.label :caption %>
          <%= form.text_area :caption, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.submit "Upload", class: "btn btn-primary form-control post-submit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    var preview = $(".avatar-preview img");

    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
  });
</script>
