<nav class="navbar navbar-expand navbar-light top-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse px-5" id="navbarTogglerDemo01">
    <%= link_to "/feed" do %>
      <i class="fab fa-instagram fa-2x nav-link m-left-300"></i>
    <% end %>
    <%= form_tag users_path, class: "form-inline my-2 my-lg-0 search-bar", method: :get do %>
      <%= search_field_tag :query, params[:query], class: "form-control", id: "form1", placeholder: "Search", 'aria-label': "Search" %>
    <% end %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to "/feed" do %>
          <i class="fas fa-home fa-2x nav-link nav-icon"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "/posts" do %>
          <i class="fas fa-user-alt fa-2x nav-link nav-icon"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_post_path do %>
          <i class="far fa-plus-square fa-2x nav-link nav-icon"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt fa-2x nav-link nav-icon"></i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
